# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output
/browser-test/js

# production
/build

# Editors
.idea
*.iml
.vscode

cypress/videos
cypress/screenshots

data/migrate/.temp/

/target
/out
*.cljs
*.clj
.clj-kondo
.shadow-cljs
cljs-runtime
.cpcache
.lsp
.github
.calva

#amplify
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/hooks
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
public/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config

amplify/backend/storage/**/*cloudformation-template.json
amplify/backend/function/**/*cloudformation-template.json
amplify/backend/function/**/layer-runtimes.json
amplify/backend/auth/userPoolGroups/template.json
amplify/backend/api/**/transform.conf.json
amplify/backend/api/**/parameters.json
amplify/backend/api/**/CustomResources.json
amplify/backend/backend-config.json

amplify/team-provider-info.json
amplify/cli.json

amplify/backend/function/**/coverage

emailTemplates/


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.gitignore
.prettierignore
.eslintcache
.eslintignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

*.webp
*.jpg
*.jpeg
*.psd
*.vtl
*.png
*.svg
*.gif
*.puml
*.feature
*.state
*.disabled
*.sh
*.jar
*.txt
*.ico
*.zip
*.drawio
*.jfif

*.mp3

*.glsl
*.glb

*.bin

*.xml
*.edn

.nrepl-port

